body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("https://i.stack.imgur.com/tFVbQ.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
